<%= form_with(model: hello, local: true) do |form| %>
  <% if hello.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hello.errors.count, "error") %> prohibited this hello from being saved:</h2>

      <ul>
      <% hello.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
